*{
    margin: 0;
    padding: 0;
}
html { 
    background: url(http://localhost/project_1/assets/media/work-table-tam-young-people-260nw-1255794220.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    

  }

#main{
    display: flex;
    justify-content: center;
    margin: 30px;
    background-color: rgba(0,0,0,0.5);
    padding: 50px;
    flex-wrap: wrap;
    

}

.main-title{
    color: #ffffff;
    
    padding: 20px;
    text-align: center;
}

.main-form{
    text-align: center;
    width: 30%;
    padding: 0 20px;
    margin:0 20px;
}

.form-group{
    margin: 10px 0;  
}
.form-group input{
    border-radius: 20px;
    width: 100%;
    padding: 5px;
    border-width: 0;

}

.header-title{
    text-align: center;
    color: black;
    

}
.header-brand h1{
    font-size: 50px;
}
footer{
    background-color: black;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px;

}
footer .footer{
    width: 80%;
    margin: auto;
    display: flex;
    
}
.footer div{
    width: 33.33333%;
}
.footer a{
    color: white;
    font-size: small;
}


.btn{
    border-radius: 10%;
    border-width: 0;
    padding: 5px;
}

.facebook-btn{  background-color:#3C589C; }

.google-btn{ background-color: #DF4B3B; }

 .facebook-btn:after{
    content:'Facebook';
}

 .google-btn:after{
    content:'Google+';
}